<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.INewsMapper">

	<insert id="InsertNewsInfo" parameterType="NewsDTO">
		INSERT INTO NEWS_INFO
			(
				NEWS_TITLE,
				NEWS_CONTENT, 
				NEWS_EDITOR,
				NEWS_DATE
			)
		VALUES(
				#{news_title},
				#{news_content},
				#{news_editor},
				#{news_date}
		)
	</insert>
	<select id="getNewsInfoFromDB" resultType="NewsDTO">
	SELECT 
		NEWS_CONTENT
	FROM
		NEWS_INFO
	WHERE
		NEWS_NO = #{news_no}
	</select>
</mapper>
